[submodule "external/portmidi"]
	path = external/portmidi
	url = git@github.com:PortMidi/portmidi.git
[submodule "external/rtaudio"]
	path = external/rtaudio
	url = git@github.com:thestk/rtaudio.git
[submodule "external/imgui"]
	path = external/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "external/implot"]
	path = external/implot
	url = git@github.com:epezent/implot.git
