# standard output / config files
out
build
release
*.o
*.a
*.out
*.ini
.dir-locals.el
*~
*#
bibliography/*
.compile_log

# clangd
compile_commands.json
.cache

# MidiPlayer info dump
*.txt

# ImGui node editor cache
*.json
