[submodule "external/portmidi"]
	path = external/portmidi
	url = git@github.com:PortMidi/portmidi.git
[submodule "external/rtaudio"]
	path = external/rtaudio
	url = git@github.com:thestk/rtaudio.git
[submodule "external/imgui"]
	path = external/imgui
	url = git@github.com:ocornut/imgui.git
	branch = v1.91.5-docking
[submodule "external/implot"]
	path = external/implot
	url = git@github.com:epezent/implot.git
[submodule "external/imgui-node-editor"]
	path = external/imgui-node-editor
	url = git@github.com:thedmd/imgui-node-editor.git
	branch = develop
[submodule "external/glfw"]
	path = external/glfw
	url = git@github.com:glfw/glfw.git
[submodule "external/glew"]
	path = external/glew
	url = git@github.com:nigels-com/glew.git
[submodule "external/cereal"]
	path = external/cereal
	url = git@github.com:USCiLab/cereal.git
[submodule "external/kissfft"]
	path = external/kissfft
	url = git@github.com:mborgerding/kissfft.git
	branch = 131.1.0
